*{
    margin: 0;
    padding: 0;
}
#side-navbar{
    position: fixed;
    background-color: black;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    color: white;
    margin-left: -60%;
    z-index: 8;
}

#cancel-button button{
    position: absolute;
   padding: 10%;
   text-align: right;
   width: 100%;
   cursor: pointer;
   z-index: 5;
}
.slider{
    padding-left: 15px;
    padding-right: 15px;
}
.slider-container{
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 5px;
}
.slider-left-button{
    position: absolute;
    color: white;
    top: 35%;
    left: 5%;
    z-index: 1;
}
.slider-content{
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    top: 20%;
}
.slider-image__container{
    display: flex;
    transition: 2s;
}
.slider-img{
    width: 100%;
    flex-shrink: 0;
   
}
.slider-right-button{
    position: absolute;
    color: white;
    top: 35%;
    right: 5%;
}
.brands{
    display: flex;
    justify-content: space-between;
}
.brants-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.brants-item img{
    width: 4vw;
}
.service-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vw;
    font-size: 1.5vw;
}
.service-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 1vw;
}
.service-container2 div{
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
}
.service-container2 div p{
    width: 70%;
}
.new-arrival{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    
}
.new-arrival__container{
    position: relative;
}
.new-arrival__container button{
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 30px;
    border: none;
    font-size: 1.2vw;
    color: black;
    top: 50%;
    left: 18%;
    z-index: 2;
    background-color: white;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    top: 0%;
    opacity: 0.6;
}
.wanted{
    overflow: scroll;
    scrollbar-width: none;
}
.most-wanted{
   display: flex;
   justify-content: space-between;
    margin-top: 2vw;
    gap: 20px;
    overflow: hidden;
    width: 200%;
    margin-bottom: 30px;
}
.most-wanted__container{
    position: relative;
    width: 100%;
}
.sale-overlay{
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 2vw;
    background-color: red;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;
}
.like-button{
    position: absolute;
    width: 15%;
    bottom: 5%;
    right: 15%;
}
.limited-offer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5%;
}
.limited-offer__text{
    padding: 5%;
}
.limited-offer__text button{
     padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 30px;
    border: none;
    font-size: 1.2vw;
    color: black;
    z-index: 2;
    background-color: white;
    margin-top: 5%;
}
.search{
    width: 80vw;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
     padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    border: none;
    font-size: 2vw;
    color: white;
    z-index: 2;
    background-color: black;
    margin-top: 2%;
}
.footer{
    background-color: black;
    color: white;
    margin-top: 5vw;
    padding: 40px;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}
.footer-icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 20%;
    margin-bottom: 3vw;
}
.initial-scroll-animation{
    transition: 3s;
}
.reveal-scroll-animation{
    opacity: 0;
}
html{
    scroll-behavior: smooth;
}
.collection__filder h3{
    margin: 2vw;
}
.collection__filder div{
    margin: 2vw;
}
.collection__filder{
    position: relative;
    width: 25%;
    font-size: 2vw;
}
.vertical-line{
    position: absolute;
    height: 100%;
    margin: 0 2vw;
    border: none;
    border-left: 3px solid black;
    top: 0;
    right: 0;
}
.collection__product{
    width: 100%;
}
.product__search{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    font-size: 2vw;
}
.product__search input{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}
.product__products{
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1vw;
}
.product__products h1{
    font-weight: bold;
    font-size: 2vw;
}
.product__products img{
    width: 23vw;
}